---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Parser from 'rss-parser';

const parser = new Parser();
const feed = await parser.parseURL('https://feed.xyzfm.space/vadx8cv4dgcb');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script>
			document.body.addEventListener('mouseover', (event) => {
				const target = event.target as HTMLElement;
				if (target.tagName === 'IMG') {
					target.classList.add('rotate');
				}
			});
		  
			document.body.addEventListener('mouseout', (event) => {
				const target = event.target as HTMLElement;
				if (target.tagName === 'IMG') {
					target.classList.remove('rotate');
				}
			});
		</script>
		<style>
			ul {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				background-color: white;
				border-radius: 12px;
				overflow: hidden;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				transition: transform 0.3s ease, box-shadow 0.3s ease;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1rem;
			}
			ul li:hover {
				transform: translateY(-10px);
				box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
			}
			ul li img {
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
				transition: transform 0.5s ease-in-out;
				mask-image: radial-gradient(circle, transparent 12%, black 12%);
			}
			ul li img.rotate {
				animation: rotateAnimation infinite 5s linear;
			}
			@keyframes rotateAnimation {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
			ul li a {
				display: block;
				text-decoration: none;
				color: inherit;
				text-align: center;
				width: 100%;
			}
			ul li .content {
				padding: 1rem;
			}
			ul li .title {
				margin: 0.5rem 0;
				font-size: 1rem;
				color: rgb(var(--black));
				line-height: 1.2;
			}
			ul li .date {
				margin: 0;
				font-size: 0.875rem;
				color: rgb(var(--gray));
			}
			ul li a:hover .title,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul li a:hover img {
				transform: scale(1.05);
			}
			@media (max-width: 1024px) {
				ul {
					grid-template-columns: repeat(2, 1fr);
				}
			}
			@media (max-width: 720px) {
				ul {
					grid-template-columns: repeat(1, 1fr);
					gap: 0.5em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						feed.items.map((item) => (
							<li>
								<a href={`/podcast/${item.guid}/`}>
									<img src={item.itunes.image} alt="" />
									<div class="content">
										<h4 class="title">{item.title}</h4>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>